algorithms and data structure 1 6
operating system 2
logic systems and computer architecture 2
digital skills 2
introduction to databases 3
algorithms and data structure2 6
network Fundamentals 2
introduction to informations systems 2
event programming 3
compilation 3
design of infomration systems 2
databases 3
oo programming 3
web programming 1 2
foundation of ai 2
system administration 3
langugae theory 2
web programming 2 
software engineering workshop 2
software architecture 2
multidimentional modeling 3
dbms 2
oo programming2 4
xml and web services 2
introduction to big data and cloud 3 
mobile development 2
foundation of it security 12.2 2
gestion de la technologie de l information 3
langage de programmation evolué bi 2
programmation web avancé 3
